

{% extends "base2.html" %}
{% block title %} Home {% endblock %}
{% block user %} Welcome {{ user.username }} {% endblock %}
{% block style %} 

<style>
  #status_completed{
    background-color: rgb(15, 238, 164);
    border-radius: 5px;
  }

  #status_Pending{
    background-color: rgb(242, 227, 19);
    border-radius: 5px;
  }

  #status_deadline{
    background-color: rgb(243, 85, 54);
    border-radius: 5px;
  }

</style>

{% endblock %}

{% block content %}

<div class="row list_contaner " align="center">
  {% for list in user.lists %}

  <div class="col list " > 
    <h1>{{ list.name }}</h1>
    <button type="button" class="btn btn-warning card-link btn-sm" onclick="window.location.href='/edit_list/{{list.id}}'" >Edit</button>
    &nbsp;
    &nbsp;
    <button type="button" class="btn btn-danger card-link btn-sm" onclick="window.location.href='/delete_list/{{list.id}}'" >Delete</button>
    <br>
    <br>
    {% for card in list.cards %}
    <div class="card" style="width: 90%;">
      <div class="card-body">
        <h5 class="card-title">{{ card.titles }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Deadline - {{ card.deadline }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Last updated - {{ card.last_updated }}</h6>
        <p class="card-text">{{ card.content }}</p>

        {% if card_status(card.id) == "complete" %}
        <p id="status_completed">Completed</p>
        <p class="card-subtitle mb-2 text-muted"> Completed on - {{card.completion_date}}</p>
        {% else %}
        {% if card_status(card.id) == "pending" %}
        <p id="status_Pending">Pending</p>
        {% else %}
        <p id="status_deadline">Deadline Passed</p>
        {% endif %}
        {% endif %}
        <button type="button" class="btn btn-outline-primary card-link btn-sm" onclick="window.location.href='/edit_card/{{list.id}}/{{card.id}}'" >Edit card</button>
        <button type="button" class="btn btn-outline-danger card-link btn-sm" onclick="window.location.href='/delete_card/{{list.id}}/{{ card.id }}'" >Delete card</button>
      </div>
    </div>
    <br>
    {% endfor %}
    <div class="col align-self-start">
      <a href="/{{list.id}}/add_card"><img src="/static/plus.png" alt="add card" width="30" height="30"></a>
    </div>

  </div>
  {% endfor %}
  <div class="col align-self-center list">
    <a href="/add_list"><img src="/static/plus.png" alt="add list" width="30" height="30"></a>
  </div>
</div>


{% endblock %}